<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990117724003-qdjct0igplf1od9ishsjpgg3rgcm4ghb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990117724003-qdjct0igplf1od9ishsjpgg3rgcm4ghb</string>
	<key>API_KEY</key>
	<string>AIzaSyDlHHt8JLI7mMqq2xFDRt7rDJcSooC7fwM</string>
	<key>GCM_SENDER_ID</key>
	<string>990117724003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyu.gibber</string>
	<key>PROJECT_ID</key>
	<string>gibber-ea6fb</string>
	<key>STORAGE_BUCKET</key>
	<string>gibber-ea6fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990117724003:ios:178cdddc5ef2dea9</string>
	<key>DATABASE_URL</key>
	<string>https://gibber-ea6fb.firebaseio.com</string>
</dict>
</plist>